.restaurant__card {
  width: 100%;
}

.restaurant-meta {
  margin-top: 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.restaurant-meta__content {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 12px;
}

.restaurant-meta--box {
  font-family: 'IBM Plex Sans';
}

.restaurant-meta--box h6 {
  font-weight: normal;
  font-size: 1rem;
  line-height: 22px;
  color: var(--text-heading);
  text-align: left;
}

.restaurant-meta--box p {
  color: var(--text-body);
  font-size: 14px;
  line-height: 19px;
}

@media (max-width: 539px) {
  .restaurant-meta {
    width: 100%;
    justify-content: space-between;
  }
}
