.alice-carousel {
  position: relative;
}

.alice-carousel + div {
  position: absolute;
}

.alice-carousel__dots {
  display: none !important;
  margin: 0 !important;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  background-color: var(--bg-white);
  box-shadow: 0 1px 4px #00000014;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  text-align: center;

  transition: box-shadow 0.1s ease-in;
}

.alice-carousel__prev-btn:hover,
.alice-carousel__next-btn:hover {
  box-shadow: 0 6px 20px #00000014;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.alice-carousel__next-btn {
  right: 0;
}

.alice-carousel__prev-btn-item __inactive .alice-carousel__prev-btn {
  display: none !important;
}

alice-carousel__prev-btn:disabled {
  visibility: hidden;
}
