.outline-button {
  appearance: none;
  background: #fff;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  padding: 8px 16px;
  line-height: 24px;
  text-decoration: none;
  color: #2e3333;
  align-items: center;
  border: 1px solid #e8ebeb;
  gap: 10px;
}

.outline-button:hover {
  border-color: #d1d4d4;
}

.outline-button p {
  color: var(--text-heading);
  font-size: 16px;
  line-height: 22px;
  font-family: 'IBM Plex Sans';
  text-decoration: none;
}
